<br><br>
<table class="table table-striped">
  <thead class="table-info">
  <tr>
    <th scope="col" colspan="3"><h5>Detail Awesome</h5></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Awesome tag:</th>
    <td>{{awesome.tag}}</td>
  </tr>
  <tr>
    <th scope="row">Awesome url:</th>
    <a href="{{awesome.url}}">
    <td>{{awesome.url}}</td>
    </a>
  </tr>
  <tr>
    <th scope="row">Awesome description:</th>
    <td>{{awesome.descriptions}}</td>
  </tr>
  </tbody>
</table>
<a (click)="list()" class="btn btn-info" >List Awesome</a>
